html {
    margin: 0 20% 0 20%;
}

body {
    font-family: Arial;
}

.container {
    display: grid;
    grid-gap: 1.5em;
    padding: 1.5em;
}

.intro {
    
}

.infos {
    
}

.sidebar {
    
}

h2 {
    border-radius: 20px 10px 0px 0px;
    background-color:  #0D1E47;
    margin: 0%;
    color: white;
    padding: 1%;

}

.sidebar > div > a {
    display: block;
    padding: 8px;
    background-color: #DDDDDD;
    border-bottom:1px #BBBBFF solid;
}

.actions {
    margin-bottom: 2%;
}

.liens {
    
}
